/* here we declare a variable for the light gray color
used in several tiles */
:root {
  --lightgray: rgb(232,232,238);
}

#container { 
  display: flex; 
}
#left1 {
  width: 60px;
  height: 100px;
  background-color: var(--lightgray);
}
#left2 {
  width: 60px;
  height: 15px;
  background-color: black;
}
#left3 {
  width: 60px;
  height: 110px; 
  background-color: var(--lightgray);;
}
#left4 {
  width: 60px;
  height: 10px;
  background-color: black;
}
#left5 {
  width: 60px;
  height: 90px;
  background-color: rgb(14,92,157);
}
#red { 
  background-color: rgb(224,51,51);
  border-left: 9px solid black;
  border-bottom: 9px solid black;
  width: 260px; height: 226px;  
}
#below_red {
  display: flex;
  flex-direction: row;
}
#black_right_of_blue {
  width: 10px;
  height: 90px;
  background-color: black;
}
#bottom_white {
  width: 220px;
  height: 90px;
  background-color: var(--lightgray);;
}
#black_column_lower_right {
  width: 13px;
  height: 90px;
  background-color: black;
}
#lower_right {
  display: flex;
  flex-direction: column;
}
#lower_right_white{
  height: 32px;
  width: 26px;
  background-color: var(--lightgray);
}
#lower_right_black{
  height: 17px;
  width: 26px;
  background-color: black;  
}
#lower_right_yellow{
  height: 41px;
  width: 26px;
  background-color: rgb(234,220,117);
}
