@import 'tailwindcss';
@import 'nextra-theme-docs/style.css';
@custom-variant dark (&:where(.dark *));

.impressum::before {
  content: 'ãƒ»';
  margin-left: 10px;
}

.text-shadow {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}
