body {
  font-family: sans-serif;
}

#add_locations {
  margin-bottom: 20px;
}

#select_locations {
  margin-bottom: 10px;
}

#temp_control {
  margin-bottom: 20px;
}

#weather_list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.weather_location {
  border: 2px solid silver;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 250px;
}

.location {
  font-size: 2em;
  font-weight: bold;
}

.weather_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather_img {
  width: 24px;
  height: 24px;
}

.temperature {
  font-weight: 300;
}

.condition {
  font-style: italic;
}
