/* CodeMirror */
.cm-editor {
  border: 1px solid silver;
}

.cm-editor.cm-focused {
  outline: 2px solid rgb(99, 102, 241);
}

.dark .cm-editor.cm-focused {
  outline: 2px solid rgb(241, 211, 141);
}

.dark .cm-activeLine {
  background-color: slategray;
}
